body {
	background-color: #eeeeee;
}

div {
	color: #005288;
}

.dino-name {
	font-weight:bolder;
	font-size: 150%;
	color: red;
	
}

.dino-img {
	width: 500px;
}

.dino-img:hover {
	border: 10px solid #005288;
}

#raptor {
	text-decoration: underline;
}